<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <title>Car Configurator</title>
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="widht=device-widht, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="script.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="header-content">
                <a href="/"><img src="images/logo.png"></a>
                <div class="title-name">Car Configurator DELUXE</div>
                <div class="dropdown-button">FrostDamage
                    <div class="dropdown-content">
                        <div class="dropdown-line">Личный кабинет</div>
                        <div class="dropdown-line">Выход</div>
                    </div>
                </div>
            </div>
        </header>
        <div class="title-image"></div>
        <div class="car">
            <div class="car-title">BMW M3</div>
            <div class='first-line'>
                <div class="model-3d">

                </div>
                <div class="modifications">
                    <div class="title">Модификации</div>
                    <div class="modification-list">
                        <div class="modification">
                            <img src="https://via.placeholder.com/150">
                            <div class="right">
                                <div class="name">17" диски</div>
                                <div class="description">Крутые диски очень крутые</div>
                            </div>
                        </div>
                        <div class="modification">
                            <img src="https://via.placeholder.com/150">
                            <div class="right">
                                <div class="name">17" диски</div>
                                <div class="description">Крутые диски очень крутые</div>
                            </div>
                        </div>
                        <div class="modification">
                            <img src="https://via.placeholder.com/150">
                            <div class="right">
                                <div class="name">17" диски</div>
                                <div class="description">Крутые диски очень крутые</div>
                            </div>
                        </div>
                        <div class="modification">
                            <img src="https://via.placeholder.com/150">
                            <div class="right">
                                <div class="name">17" диски</div>
                                <div class="description">Крутые диски очень крутые</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="second-line">
                <div class="car-description">
                    <div class="title">Описание</div>
                    <div class="description">Очень крутая машина очень много возможностей есть поддув есть продув есть пердув когда вы едете по городу то от нее рипит так как от вашего любимого вьетнамского кино в 4 часа ночи, когда мама уже спит а вы все еще украдкой поглядываете на телевизор, чтобы ее не разбудить, и каждый раз когда батя идет курить на балкон, вы принимаете позу мертвого.</div>
                </div>
            </div>
        </div>
    </body>
</div>