@model IEnumerable<_3DCarConfigurator.Models.Car>
@{
    ViewData["Title"] = "Cars";
}

<h1>Cars</h1>
<div class="cars">
    @foreach (var phone in Model)
    {
        <div class="car">
            <img src="~/img/@phone.PathToModel" width="350" height="200" /><br />
            <div class="description">
                <span class="carName">
                    <b>Price:</b> @phone.Name
                </span><br />
                <span class="carPrice">@phone.Price</span>
            </div>
        </div>
    }
</div>