@model IEnumerable<_3DCarConfigurator.Models.Car>
@{
    ViewData["Title"] = "Cars";
}

<h1>Cars</h1>
<div class="cars">
    @foreach (var car in Model)
    {
        <div class="car">
            <img src="~/img/@car.PathToModel" width="350" height="200" /><br />
            <div class="description">
                <span class="carName">
                    <b>Name:</b> @car.Name
                </span><br />
                <span class="carPrice">
                    <b>Price:</b> @car.CarPrice
                </span>
                <a href="Cars/@car.Id">Open page</a>
            </div>
        </div>
    }
</div>