@{
    ViewData["Title"] = "Home Page";
}

<div style="margin: 50px auto; text-align: center;">
    <p>Родители Кирюши Гонтаря:</p>
    <img src="https://1.bp.blogspot.com/-AIk7ay0hRtc/UbonLja9AvI/AAAAAAAABnA/JiPsgTXX9wY/s1600/pidarasy.jpg" />
</div>
<div style="margin: 50px auto; text-align: center;">
    <p>Кирюша Гонтарь(Java Developer):</p>
    <img src="https://cs10.pikabu.ru/post_img/2018/02/22/9/1519314100139767065.jpg" />
</div>
