@model _3DCarConfigurator.ViewModels.ItemsListsViewModel
@{
    ViewData["Title"] = "Manage items";
}



<div class="container">
    <div class="card-deck">
        <div class="card bg-primary">
            <div class="card-body text-center">
                <strong class="card-header">Cars</strong>
                <form method="get" asp-action="EditCar" asp-controller="AdminManage">
                    <label class="select margin-bottom-15">
                        @Html.DropDownListFor(x => x.ItemIdSelected, new SelectList(ViewBag.CarList, "Id", "Name"),
                                        "Select Car", new { @class = "form-control" })
                    </label>
                    <div><input type="submit" class="btn btn-primary" value="Edit" /></div>
                </form>
            <p class="card-text">Some text inside the first card</p>
        </div>
            </div>
        <div class="card bg-warning">
            <div class="card-body text-center">
                <strong class="card-header">Details</strong>
                <form method="get" asp-action="EditDetail" asp-controller="AdminManage">
                    <label class="select margin-bottom-15">
                        @Html.DropDownListFor(x => x.ItemIdSelected, new SelectList(ViewBag.DetailList, "Id", "Name"),
                     "Select Detail", new { @class = "form-control" })
                    </label>
                    <div><input type="submit"  class="btn btn-primary" value="Edit" /></div>
                </form>
                <p class="card-text">Some text inside the second card</p>
            </div>
        </div>
        <div class="card bg-success">
            <div class="card-body text-center">
                <strong class="card-header">Configurations</strong>
                <form method="get" asp-action="EditConfiguration" asp-controller="AdminManage">
                    <label class="select margin-bottom-15">
                        @Html.DropDownListFor(x => x.ItemIdSelected, new SelectList(ViewBag.ConfigurationList, "Id", "DetailsString"),
                  "Select Configuration", new { @class = "form-control" })
                    </label>
                    <div><input type="submit" class="btn btn-primary" value="Edit" /></div>
                </form>
                <p class="card-text">Some text inside the third card</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}